name: Generate Space Invaders

on:
  schedule:
    - cron: "0 */24 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate Space Invaders (Dark)
        uses: Platane/snk@v3
        with:
          github_user_name: YOUR_USERNAME

          # Dark theme output
          outputs: |
            dist/space-invaders-dark.svg?palette=github-dark&snake=#facc15&bg=#020617
            dist/space-invaders-dark.gif?palette=github-dark&snake=#facc15&bg=#020617

      - name: Push changes
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}